.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding: 0 10px;
    
    @media (min-width: 601px) {
        min-width: 400px;
    }
    
    @media (max-width: 600px) {
        width: 100%;
    }
}

.canvas {
    width: 100%;
    height: 100%;
}

.message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}